<div>
  <link href="./section.css" rel="stylesheet" />
  <div class="section-section section-container">
    <div class="section-max-width max-width">
      <div class="section-banner">
        <span class="section-text before-Heading">
          <span>get started</span>
        </span>
        <h1 class="section-text01">
          <span>Push your finances to</span>
          <br />
          <span></span>
          <span></span>
          <span>the next level.</span>
        </h1>
        <span class="section-text07">
          <span>Amet minim mollit non deserunt ullamco est sit</span>
          <br />
          <span>aliqua dolor do amet sint.</span>
        </span>
        <div class="section-btns">
          <button class="section-button button button-transparent">
            <span>See all plans</span>
          </button>
          <button class="section-button1 button button-gradient">
            <span>Get started</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
