.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 12px 25px -9px rgb(0 0 0 / 12%);
  padding: 1rem 1.5rem;
  background-color: #ffffff;
  top: 0;
  position: sticky;
  width: 100%;
  z-index: 1000;
}
.logo {
  width: 71px;
  height: 54px;
  height: 115%;
  margin-right: 1rem;
}
.logo-link {
  margin-left: 0;
}
.header .gold-button {
  width: 132px;
}
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 15px;
  margin: auto;
}
.navigation-item {
  position: relative;
  transition: 0.3s all;
  font-size: 1rem;
  font-weight: 400;
}
.navigation-item::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #c4975f;
  bottom: -1.5rem;
  left: 0px;
  border-radius: 9999px;
  transform: scale(0);
  transform-origin: center;
  transition: 0.3s transform;
}
.navigation-item a {
  transition: 0.3s all;
}
.navigation-item:hover a {
  color: #c4975f;
}
.navigation-item:hover::after {
  transform: scale(1);
}
.navigation-item-active a {
  color: #c4975f;
}
.navigation-item-active::after {
  transform: scale(1);
}

.dropdown {
  display: none;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}
@media (max-width: 1368px) {
  .navigation {
    gap: 3rem;
  }
}
@media (max-width: 1068px) {
  .header {
    position: sticky;
    justify-content: flex-start;
    gap: 1.5rem;
    z-index: 1000;
  }
  header > * {
    position: relative;
    z-index: 2;
  }
  .logo-link {
    margin-left: auto;
  }
  .logo {
    margin-left: auto;
  }
  .navigation {
    position: absolute;
    background-color: #ffffff;
    flex-direction: column-reverse;
    width: 100%;
    left: 0px;
    box-shadow: 0px 12px 25px -9px rgb(0 0 0 / 12%);
    transition: 1s all;
    z-index: 1;
    display: flex;
    top: 80px;
    transform-origin: top;
    transform: scaleY(0);
    gap: 0px;
  }
  .navigation-item {
    width: 100%;
    padding: 0.75rem;
    transition: 0.3s all;
    text-align: center;
  }
  .navigation-item::after {
    display: none;
  }
  .navigation-item:hover {
    background-color: #c4975f;
  }
  .navigation-item-active {
    background-color: #c4975f;
  }
  .navigation-item a {
    transition: 0.3s all;
  }
  .navigation-item:hover a {
    color: #ffffff;
  }
  .navigation-item-active a {
    color: #ffffff;
  }
  .dropdown {
    display: block;
  }
  .navigation-hide {
    transform: scaleY(0);
  }
  .navigation-show {
    transform: scaleY(1);
  }
}
