.text-container {
  text-align: center;
  padding: 80px;
}
.text-container .text {
  color: #c4975f;
  font-size: 30px;
  font-weight: 800;
}
.text-container .line {
  background-color: #c4975f;
  width: 80px;
  height: 2px;
  margin: 15px auto;
}
.form-container {
  margin-bottom: 50px;
}
form.register-form {
  direction: rtl;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 400px;
  margin: auto;
  text-align: center;
  background-color: #f4f4f4;
}
form input {
  display: block;
  margin-bottom: 20px;
  height: 40px;
  width: 100%;
  border: none;
}
form input.anti-gold-button {
  border-radius: 10px;
}
form .agree-section {
  display: flex;
  text-align: right;
}
form .agree-section input {
  width: auto;
}
@media (max-width: 530px) {
  form.login-form {
    width: 90%;
  }
}
